@tailwind base;
@tailwind components;
@tailwind utilities;

#dynamic-grid {
  --num-rows: 3;
  --num-columns: 4;
  display: grid;
  grid-template-rows: repeat(var(--num-rows), 1fr);
  grid-template-columns: repeat(var(--num-columns), 1fr);
}
